@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  :root {
    /* colors coffee variants */
    --color-coffee-light-1: rgba(206, 169, 93, 1);
    --color-coffee-light: rgba(206, 169, 93, 0.5);
    --color-coffee-medium-1: rgba(233, 212, 167, 1);
    --color-coffee-medium: rgba(233, 212, 167, 0.5);
    --color-coffee-force-1: rgba(150, 126, 91, 1);
    --color-coffee-force: rgba(150, 126, 91, 0.5);
    /* colors greens variants */
    --color-green-medium: rgba(71, 91, 31, 1);
  }
  /* general class and tags config and normalize */
  html,
  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}
